/*

Font extensions:

* woff2 - Super Modern Browsers
* woff  - Pretty Modern Browsers
* ttf   - Safari, Android, iOS

*/

@font-face {
    font-family: 'Dubai';

    src: url('../fonts/DubaiW23-Regular.woff2') format('woff2'),
        url('../fonts/DubaiW23-Regular.woff') format('woff'),
        url('../fonts/DubaiW23-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Dubai';
    font-weight: 300;

    src: url('../fonts/DubaiW23-Light.woff2') format('woff2'),
        url('../fonts/DubaiW23-Light.woff') format('woff'),
        url('../fonts/DubaiW23-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Dubai';
    font-weight: 500;

    src: url('../fonts/DubaiW23-Medium.woff2') format('woff2'),
        url('../fonts/DubaiW23-Medium.woff') format('woff'),
        url('../fonts/DubaiW23-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Dubai';
    font-weight: bold;

    src: url('../fonts/DubaiW23-Bold.woff2') format('woff2'),
        url('../fonts/DubaiW23-Bold.woff') format('woff'),
        url('../fonts/DubaiW23-Bold.ttf') format('truetype');
}

body {
    font-family: 'Dubai', sans-serif;
}

iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    background-color: #1a1a1a;
    border-radius: 4px;
}

iframe.short-video {
    aspect-ratio: 9 / 16;
}

.btn-apple {
    background-color: white;
    color: black;
}

.btn-apple:hover {
    background-color: #e6e6e6;
    color: black;
}

.btn-pocketcasts {
    background-color: #F43E37;
    color: white;
}

.btn-pocketcasts:hover {
    background-color: #d1322c;
    color: white;
}

.btn-spotify {
    background-color: #1db954;
    color: white;
}

.btn-spotify:hover {
    background-color: #189845;
    color: white;
}

.btn-youtube {
    background-color: #ff0033;
    color: white;
}

.btn-youtube:hover {
    background-color: #cc0000;
    color: white;
}

.card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.hero-jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('../img/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
